@using EShopping.Areas.Admin.Models
@model IEnumerable<SupplierViewModel>

@{
    ViewBag.Title = "Index";
}

<!--Main Dashboard-->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <div class="main">
        <div class="col-lg-12">
            <div class="inline">
                <div class="col-lg-6">
                    <h1>Supplier List</h1>
                </div>
                <div class="col-lg-6">
                    <div class="float-right">
                        <a class="btn btn-outline-dark" href="AddSupplier.html">Add new</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <!--Table-->
            <div class="tbl table-responsive" id="table">
                <table id="myTable" class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Company</th>
                            <th scope="col">Supplier First Name</th>
                            <th scope="col">Supplier Last Name</th>
                            <th scope="col">Country</th>
                            <th scope="col">State</th>
                            <th scope="col">City</th>
                            <th scope="col">Address 1</th>
                            <th scope="col">Address 2</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.CompanyName</th>
                                <td>@item.ContactFName</td>
                                <td>@item.ContactLName</td>
                                <td>@item.Country</td>
                                <td>@item.State</td>
                                <td>@item.City</td>
                                <td>@item.Address1</td>
                                <td>@item.Address2</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.URL</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

